<%-include('includes/header.ejs')%>
    <div class="container-autenticacao">
        <h1>Criar Conta / Entrar</h1>
        <p>Abaixo você pode criar sua conta ou entrar.</p>
        <div class="container-conteudo">
            <%-include('includes/messages.ejs')%>
                <div class="container-forms">
                    <section class="section-register">
                        <h2>Registrar conta</h2>
                        <p>Se ainda não tem conta, use o formulário abaixo para criar</p>
                        <form action="/auth/register" method="POST" class="form-register">
                            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <div class="container-input">
                                <label>E-mail</label>
                                <input type="email" name="email">
                            </div>
                            <div class="container-input">
                                <label>Senha</label>
                                <input type="password" name="senha">
                            </div>
                            <button class="button-submit">Criar minha conta</button>
                        </form>
                    </section>
                    <section class="section-login">
                        <h2>Realizar Login</h2>
                        <p>Se já possui uma conta, faça login abaixo.</p>
                        <form action="/auth/login" method="POST" class="form-login">
                            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <div class="container-input">
                                <label>E-mail</label>
                                <input type="email" name="email">
                            </div>
                            <div class="container-input">
                                <label>Senha</label>
                                <input type="password" name="senha">
                            </div>
                            <button class="button-submit">Entrar</button>
                        </form>
                    </section>
                </div>
        </div>
    </div>
    <%-include('includes/footer.ejs')%>