    <%-include('includes/header.ejs')%>
    <section class="container">
        <h1>Editar contato</h1>
            <form action="/contato/<%= editContato._id %>?_method=PUT" method="post" class="form-contato">
                <%-include('includes/messages.ejs')%>
                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                <div class="container-input">
                    <label>Nome</label>
                    <input class='input' type="text" name="nome" value=<%=editContato.nome%> placeholder="Digite seu nome" >
                </div>
                <div class="container-input">
                    <label>Sobrenome</label>
                    <input class='input' type="text" name="sobrenome" value=<%=editContato.sobrenome%>  placeholder="Digite seu sobrenome">
                </div>
                <div class="container-input">
                    <label>E-mail</label>
                    <input class='input' type="email" name="email" value=<%=editContato.email%>  placeholder="Digite seu e-mail">
                </div>
                <div class="container-input">
                    <label>Telefone</label>
                    <input class='input' type="tel" name="telefone" value=<%=editContato.telefone%>  placeholder="Digite seu telefone">
                </div>
                <button type="submit" class="button-submit">Editar Contato</button>
            </form>     
    </section>
    <%-include('includes/footer.ejs')%>
