    <%-include('includes/header.ejs')%>
    <section class="container">
        <h1>Agenda</h1>
        <h3>Abaixo estão todos os seus contatos.</h3>
        <% if(!user){ %>
            <p>Você precisa estar logado ou criar um registro para ver seus contatos.</p>
        <% } else { %>
            <table>
                <%-include('includes/messages.ejs')%>
                <% if(contatos.length === 0) { %>
                    <h3>Nenhum contato encontrado!</h3>
                <% } else { %>
                    <%contatos.forEach((contato)=>{%>
                    <tr>
                        <td><%=contato.nome%></td>
                        <td><%=contato.sobrenome%></td>
                        <td><%=contato.email%></td>
                        <td><%=contato.telefone%></td>
                        <td><a href="/contato/edit/<%= contato._id %>" class="button-editar" >Editar</a></td>
                        <td>
                            <form action="/contato/<%= contato._id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                <button class="button-excluir"><a>Excluir</a></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% } %>
            </table>
        <% } %>
    </section>
    <%-include('includes/footer.ejs')%>