    <%-include('includes/header.ejs')%>
    <section class="container">
        <h1>Agenda</h1>
        <h3>Abaixo estão todos os seus contatos.</h3>
        <table>

            <% if(contatos.length === 0) { %>
                <h3>Nenhum contato encontrado!</h3>
            <% } else { %>
                <%contatos.forEach((contato)=>{%>
                <tr>
                    <td><%=contato.nome%></td>
                    <td><%=contato.sobrenome%></td>
                    <td><%=contato.email%></td>
                    <td><%=contato.telefone%></td>
                    <td><button class="button-editar">Editar</button></td>
                    <td><button type="submit" class="button-excluir" onclick="deleteContato('<%= contato.id %>')">Excluir</button></td>
                </tr>
            <% }) %>
            <% } %>

        </table>
    </section>
    <script>
        const deleteContato = (id) => {
            fetch(`http://localhost:3000/contato/${id}`, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/json'
                },
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data);
                })
                .catch((err) => {
                    console.log(err)
                })
            location.reload();
        }
    </script>
    <%-include('includes/footer.ejs')%>